.search-bar {
  padding: 1.2rem 0 1.6rem 0;
}

.search-bar-row {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.search-bar-first-row {
  margin-bottom: 0.8rem;
}

.weather-app-component-input {
  background: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2))rgba(255,255,255,0.2);
  border-radius: 2rem;
  padding: 0 1.6rem;
  min-width: 40%;
}

.weather-app-transparent-input {
  background: transparent !important;
  border: none !important;
  font-weight: 600 !important;
}

.weather-app-transparent-input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.weather-app-input-label {
  font-size: 0.8rem !important;
  color: rgb(90, 90, 90) !important;
  font-weight: 600 !important;
  padding-left: 0.4rem !important;
  margin-bottom: 0 !important;
}

.weather-app-transparent-select {
  background: transparent !important;
  border: none !important;
  font-weight: 600 !important;
  background-image: var(--bs-form-select-bg-img),var(--bs-form-select-bg-icon,none) !important;
  background-repeat: no-repeat !important;
  background-position: right .75rem center !important;
  background-size: 16px 12px !important;
}

.weather-app-transparent-select:focus {
  outline: none !important;
  box-shadow: none !important;
}
